body
{
	background-color: #a86b6b;
	text-align: center;
}

h1, h3, h4 
{
	color: white;
	text-align: center;
}

h2
{
	color: #d9d9d9;
	text-align: center;
}

.profile_img
{
	width: 10%;
	height: auto;
}

