body
{
	background-color: #b29595;
	text-align: center;
}

h1
{
	color: white;
	text-align: center;
}

h2
{
	color: white;
	text-align: centre;
}

.content
{
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #2b1117 
}

.content p
{
	color: #e6e6e6;
}

.footer1
{
	color: #e6e6e6;
}
