body
{
	background-color: #9a7b7b;
	text-align: center;
}

h1
{
	color: white;
	text-align: center;
}

h2
{
	color: white;
	text-align: centre;
}

.content
{
	max-width: 900px;
	margin: 50px auto;
	padding: 20px;
	background-color: #1e0c0f; 
}

.content p
{
	color: #bfb8b8;
}

.footer1
{
	color: #e6e6e6;
}
