*
{
	box-sizing: border-box;
}

body
{
	background-color: #a86b6b;
	text-align: center;
}

h1, h2, h3, h4, h5
{
	color: #f5f0eb;
	text-align: centre;
}

h1 a
{
	color: #f5f0eb;
	text-decoration: none;
}

h1 a:hover
{
	text-decoration: underline;
}

.content
{
	max-width: 900px;
	margin: 100px auto;
	padding: 50px;
	background-color: #1a0a0d;
}

i, blockquote, dd, tr, td, b
{
	color: #e6e6e6;
}

p
{
	font-size: 18px;
	color: #e6e6e6;
}	

button *, button p, button b
{
	color: black;
}

.footer1
{
	font-size: 70%;
	color: #e6e6e6;
}

.long_hair_img
{
	max-height: 25%;
	max-width: 25%;
	height: auto;
	width: auto;
}

.meme_img
{
	max-height: 25%;
	max-width: 25%;
	height: auto;
	width: auto;
}

.standard_img
{
	width: 25%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.chart_img
{
	width: 100%;
	height: auto;
	display: block;
}

@media(max-width: 600px)
{
	.standard_img
	{
		width: 100%;
		height: auto;
		display: block;
	}
	.chart_img
	{
		width: 100%;
		height: auto;
		display: block;
	}
	p, b, i 
	{
		font-size: 120%;
	}
	.content
	{
		padding: 20px;
		overflow-x: hidden;
	}

	.center
	{
		margin-left: auto;
		margin-right: auto;
	}
}

a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a):link 
{
  color: lightblue;
  background-color: transparent;
}

a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a):visited 
{
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a):hover 
{
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a):active
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a 
{
 	color: #f5f0eb;
	text-align: centre;
}
